<div>
<form method="post">
  <h2>formname</h2>
<fieldset>
  <input type="text" name="post[title]">
<input type="text" name="post[price]">
<textarea name="post[description]"></textarea>


  <div>
    <label for="name">test</label>
    <input id="name" type="text" name="name">
  </div>
  <div>
    <label for="last">holy</label>
    <input id="last" type="text" name="last">
  </div>
  <button type="submit">Submit</button>
</fieldset>
</form>     
</div>